<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>anypoint-platform</id>
            <username>reshmaj24@gmail.com</username>
            <password>Re@12345</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>anypoint-platform</id>
            <properties>
                <anypoint.platform.clientId>514e13483c3a48c2ab581316938f795f</anypoint.platform.clientId>
                <anypoint.platform.clientSecret>8A905E4986674D91bF1D0976d72e1BF7</anypoint.platform.clientSecret>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>anypoint-platform</activeProfile>
    </activeProfiles>
</settings>

